footer{
    display: flex;
    height: 80px;
    box-shadow:  0px -5px 40px #00000029;
    background: #F7F7F7 ;
    align-items: center;
    justify-content: center;
}

.footer{
        display: flex;
        width: 90%;
        justify-content: space-between;
        &__logo{
            &-logo{
                padding:1rem 0;
                font-size: 2rem;
                color: $main-blue-color;
                font-family: $fontRaleway;
                font-weight: 300;
            }
            p{
               color:#A5A5A5; 
               font-size: 1rem;
            }
        }
        &__media{
            width: 50%;
            display: flex;
            justify-content: space-evenly;
        }
    }