@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&display=swap');


$main-red-color: #EB476E;
$main-green-color: #55DFB4;
$main-blue-color: #07ACE6;

$fontOpen: 'Open Sans', sans-serif;
$fontRaleway: 'Raleway', sans-serif;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: $fontOpen;
    
}
#app{
    display: flex;
    flex-direction: column;
}


@import './components/Nav/Header.scss';
@import './components/BigBanner/BigBanner.scss';
@import './components/MostSales/MostSales.scss';
@import './components/SmallBanners/SmallBanners.scss';
@import './components/Pricing/Pricing.scss';
@import './components/Form/Form.scss';
@import './components/Footer/Footer.scss';

